.recetas{
    background: #dab997;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}
@media screen and (min-width:0) {
    .recetas{
    padding-left: 6vw;
    padding-right: 2vw;  
    }
}
@media screen and (min-width:768px) {
    .recetas{
        padding: 5rem 0 0 2.5rem;
    }
}
@media screen and (min-width:992px) {
    .recetas{
        width: 100%;

    padding-left: 8%;
    padding-right: 10%;
    }
}