.receta__boton{
    background: #da2b1f; ;
    border: none;
    width: 150px;
    align-self: center;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
    margin-bottom: 10px;
    border-radius: 20px;

}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}
